<!DOCTYPE html>
html
	head
		title= 'Data'
		style
			include index.css
	body
		script
			include scheduler.js
		<div class= "header">
			<h1> Data</h1>
		</div>
		<form>
			<input type = 'radio' id = "9" name = 'grade'>
			<label for="9"> 9th Grade </label>
			<input type = 'radio' id = "10" name = 'grade'>
			<label for="10"> 10th Grade </label>
			<input type = 'radio' id = "11" name = 'grade'>
			<label for="11"> 11th Grade </label>
			<input type = 'radio' id = "12" name = 'grade'>
			<label for="12"> 12th Grade </label>
		</form>
		<button type="button" class = "button" onclick="makeHeatMap()"> See Map </button> </br>
	</br>
		
		<div class="displayGrid">
			<h3> Schedule Grid </h3>
			table(id = 'gridTable')
				tr
					th= 'DAY1'
					th= 'DAY2'
					th= 'DAY3'
					th= 'DAY4'
					th= 'DAY5'
					th= 'DAY6'
				for g in gridlist
					tr
						for k in g 
							<td id ='#{k}'> #{k} </td>
		</div>
	</br>

		<table id = 'mapSections'>
			<tr>
				<th>COURSE ID</th>
				<th> NAME </th>
				<th> SECTION </th>
				<th> TEACHER ID </th>
				<th> TEACHER NAME </th>
				<th> TIME </th>
				<th> NUMBER OF STUDENTS </th>
				<th> UNSCHEDULED </th>
			</tr>

		</table>
