<!DOCTYPE html>
html
	head
		title= 'Courses'
		style
			include index.css
	body
		script
			include index.js
		<div class= "header">
			<h1> Master Scheduling</h1>
		</div>
		
		<div class = "buttons">
			a(href="/users/login")
				button(type ="button" class = "button") Login 
			a(href="scheduler")
				button(type="button" class ="button" onclick='receiveSections()') Start/Return
			a(href="/users/logout")
				button(type ="button" class = "button") Logout

		</div>

		<div class ="dropdown">
			<label for="dataEntry"> Select a data entry option: </label>
				<select name = "dataEntry" id="dataEntry" onchange = 'getItem()'>
					<option value="selectOp">Select</option>
					<option value="sections">Sections</option>
					<option value="students">Students</option>
					<option value="teachers">Teachers</option>
					<option value="data">Schedule Data</option>
					<option value="user">User</option>
				</select>
		</div>



		<div class="sections" id = 'enterSections' hidden>
			<h4>Upload sections </h4>
			<form id = 'myForm'>
				<input type = "file" id = 'csvFile' accept = ".csv" />
				<br/>
				<input type = "submit" value = "upload" onclick = 'myF()'/>
			</form>
		</div>

		<div class="student" id = 'enterStudents' hidden>
			<h4>Upload StudentSchedules</h4>
			<form id = 'StuSched'>
				<input type = "file" id = 'sched' accept = ".csv" />
				<br/>
				<input type = "submit" value = "upload" onclick = 'myS()'/>
			</form>
		</div>

		<div class="times" id = 'enterTimes' hidden>
			<form id ='addTimes' action ='/times' method ='POST' >
				<div>
					<label for="timeEntry"> Enter Name of Timeslot: </label>
					<input type = "text" id = "numPer" name = "timeSlotName" required>
				</div>
			<div>
				<label for="timeEntry"> Enter list of Times (Use letter number format, eg A1B2, A3C2):</label>
				<input type = "text" id = "times" name = "timeSlots" required>
			</div>
			<div>
				<input type ="submit" value = "Add to List"/>
			</div>
			</form>
			ul 
				each val in err
					li= val.message
			<div>
				table
					tr
						th= 'SELECT'
						th= 'NAME'
						th= 'TIME SLOT'
					for t in timeSlots
						tr
							td <button type="button" class = "button" id ='#{t.name}edit'> Edit</button> <button type="button" class = "button" id ='#{t.name}delete' onclick="deleteTime('#{t.name}')">Delete</button>  
							td= t.name
							td <p> #{t.times} </p> <input type = 'text', value = "#{t.times}", id = '#{t.name}text', name = "times" hidden/>


			</div>
		</div>

		<div class="schedule" id ='enterSched' hidden>
			<p>Enter details about the schedule. For each day enter the list of periods that will meet in the format: A1, B2, C3</p>
			<form id = 'addSchedule' action ='/addSchedule' method = 'POST'>
				<div>
					<label for="schedEntry"> Number of Days </label>
					<input type = "text" id = "days" name ='days'>
				</div>
				<div>
					<label for="schedEntry"> Day 1 </label>
					<input type = "text" id = "day1" name ='day1'>
				</div>
				<div>
					<label for="schedEntry"> Day 2 </label>
					<input type = "text" id = "day2" name ='day2'>
				</div>
				<div>
					<label for="schedEntry"> Day 3 </label>
					<input type = "text" id = "day3" name ='day3'>
				</div>
				<div>
					<label for="schedEntry"> Day 4 </label>
					<input type = "text" id = "day4" name ='day4'>
				</div>
				<div>
					<label for="schedEntry"> Day 5 </label>
					<input type = "text" id = "day5" name ='day5'>
				</div>
				<div>
					<label for="schedEntry"> Day 6 </label>
					<input type = "text" id = "day6" name ='day6'>
				</div>
				<div>
					<input type ="submit" value = "Add Schedule"/>
				</div>

			</form>
		</div>
		<div class="displayGrid">
			<h3> Schedule Grid </h3>
			table
				tr
					th= 'DAY1'
					th= 'DAY2'
					th= 'DAY3'
					th= 'DAY4'
					th= 'DAY5'
					th= 'DAY6'
				for g in gridlist
					tr
						for k in g 
							td= k
		</div>
		<div id ='enterUser' hidden>
			<form id = 'addUser' action ='' method = ''>
				<div>
					<label for='userEntry'> Enter the email of a user and select their role </label>
				<div>
					<label for="userEntry"> Email: </label>
					<input type = "text" id = "userEmail" name ='userEmail'>
				</div>
				<div>
					<label for="userEntry"> Role: </label>
					<input type = "text" id = "userRole" name ='userRole'>
				</div>



		</div>
		

	