html
	head
		title= 'Courses'
		style
			include index.css
			
	body
		script
			include home.js
		<h1> Master Scheduling</h1>
		<h3> Statistics </h3>
		<h4>Upload sections </h4>
		<form id = 'myForm'>
			<input type = "file" id = 'csvFile' accept = ".csv" />
			<br/>
			<input type = "submit" value = "upload" onclick = 'myF()'/>
		</form>
		
	table
		tr
			th='Course_Id'
			th= 'Name'
			th= 'SectionNum'
			th= 'Time'
			

		for section in sectionlist
			tr
				td= section.course_id
				td= section.name 
				td= section.sec_num
				td <input type = 'text', value = "#{section.time}", id = "#{section.sec_num}", name = "section"/> <input type = 'submit', value = 'Update', id = ${section.course_id}, onclick = 'sendData("#{section.course_id}", "#{section.sec_num}")'/>
				
