<!DOCTYPE html>
html
	head
		title= 'Courses'
		style
			include index.css
	body
		script
			include home.js
		<div class= "header">
			<h1> Master Scheduling</h1>
		</div>
		<div class = "Stats"
			<h3> Statistics </h3>
			<h6> Num Students Scheduled </h6>

		</div>
		<div class = ="buttons">
			a(href="students")
				button(type="button" class ="button") Students
			a(href="teachers")
				button(type="button" class ="button") Teachers
			<button type="button" class = "button"> Schedule </button>
			<br/>
			<button type="button" class = "button"> Data </button>
			<button type="button" class = "button"> Filter </button>
			<button type="button" class = "button"> Modes </button>
		</div>
		<h4>Upload sections </h4>
		<form id = 'myForm'>
			<input type = "file" id = 'csvFile' accept = ".csv" />
			<br/>
			<input type = "submit" value = "upload" onclick = 'myF()'/>
		</form>
		
	table
		tr
			th='Course_Id'
			th= 'Name'
			th= 'SectionNum'
			th= 'TeacherID'
			th= 'Teacher Name'
			th= 'Time'
			th= 'Num Students'
		for section in sectionlist
			tr
				td= section.course_id
				td= section.name 
				td= section.sec_num
				td= section.teacherID
				td= section.teacher
				td <input type = 'text', value = "#{section.time}", id = "#{section.sec_num}", name = "section"/> <input type = 'submit', value = 'Update', id = ${section.course_id}, onclick = 'sendData("#{section.course_id}", "#{section.sec_num}")'/>
				td= section.num_students
				
