<!DOCTYPE html>
html
	head
		title= 'Courses'
		style
			include index.css
	body
		script
			include scheduler.js
		<div class = "navbar" id = "middle1">
				<button type="button" class = "button" onclick="scheduleCourses()"> Schedule Selected </button>
				<button type="button" class = "button" onclick="unscheduleCourses()"> Unschedule Selected </button>
				<button type="button" class = "button" onclick="scheduleAll()"> Schedule All </button>
				<button type= "button" class = "button" onclick='editCourse()' id = 'editCourseBtn'> Edit Course </button>
		</div>

		<div class= "main">
			<div class ='header'>
				<h1> Master Scheduling</h1>
			</div>
		
		
	<div class = "parent">
		<div class = "buttons" id = "leftside">
			button(type = "button" class = "button" onclick= "receiveSections()") Start Schedule 
		</br>
			<button type="button" class = "button" onclick="savePrompt('students')"> Students </button>
			<button type="button" class = "button" onclick="savePrompt('teachers')"> Teachers </button>
		</div>
		
		<div class = "buttons" id = "middle2">
			<button type="button" class = "button" onclick="savePrompt('data')"> Data </button>
			<button type="button" class = "button"> Modes </button>
			<button type="button" class = "button" onclick="save()"> Save </button>
		</div>
	</div>

	<div> 
		<form>
			<input type = 'radio' id = "9" name = 'grade'>
			<label for="9"> 9th Grade </label>
			<input type = 'radio' id = "10" name = 'grade'>
			<label for="10"> 10th Grade </label>
			<input type = 'radio' id = "11" name = 'grade'>
			<label for="11"> 11th Grade </label>
			<input type = 'radio' id = "12" name = 'grade'>
			<label for="12"> 12th Grade </label>
		</form>
	</div>
	<div>
		<form>
			<input type = 'radio' id = "1" name = 'sec'>
			<label for="1"> One Section</label>
			<input type = 'radio' id = "2" name = 'sec'>
			<label for="2"> Two Sections</label>
			<input type = 'radio' id = "3" name = 'sec'>
			<label for="3"> Three Sections</label>
			<input type = 'radio' id = "4" name = 'sec'>
			<label for="4"> Four Sections</label>
			<input type = 'radio' id = "5" name = 'sec'>
			<label for="5"> Five+ Sections</label>
		</form>
		<button type="button" class = "button" onclick="filter()"> Filter </button> 
		<button type="button" class = "button" onclick="clearFilter()"> Clear </button> 
	</div>

	<div>
	table(id = 'sectionTable')
		tr
			th
				<p>COURSE ID</p> <input type = 'checkbox' id ='mainCheck' name = 'mainCheck' onclick="clearChecks()">
			th= 'NAME'
			th= 'SECTION'
			th= 'TIME_SLOT'
			th= 'TEACHER ID'
			th= 'TEACHER NAME'
			th= 'TIME'
			th= 'NUMBER OF STUDENTS'
			th= 'UNSCHEDULED'
		for section in sectionlist 
			tr
				if section.sec_num == 1
					td 
						<input type = 'checkbox' id ='#{section.course_id}check' name = '#{section.course_id}check' hidden> <label for='#{section.course_id}check'> #{section.course_id} </label> <input type ='submit' value = "Delete" id = '#{section.course_id}delete#{section.sec_num}' onclick = 'deleteSection("#{section.course_id}", "#{section.sec_num}")' hidden> <input type ='submit' value = "Save" id = '#{section.course_id}save#{section.sec_num}' onclick = 'editSection("#{section.course_id}", "#{section.sec_num}")' hidden>
				else
					td 
						<p>#{section.course_id}</p> <input type = 'submit' value = "Delete" id = '#{section.course_id}delete#{section.sec_num}' onclick = 'deleteSection("#{section.course_id}", "#{section.sec_num}")' hidden> <input type ='submit' value = "Save" id = '#{section.course_id}save#{section.sec_num}' onclick = 'editSection("#{section.course_id}", "#{section.sec_num}")' hidden>
				td= section.name 
				td= section.sec_num
				td
					<p id = '#{section.course_id}timeslotp#{section.sec_num}'> #{section.timeSlot}</p> <select name ='dropdowns' id = '#{section.course_id}timeSlot#{section.sec_num}' hidden> </select>
				td
					<p id = '#{section.course_id}tidp#{section.sec_num}'> #{section.teacherID} </p> <select name ='dropdowns' id = '#{section.course_id}tID#{section.sec_num}' hidden> </select>
				td
					<p id ='#{section.course_id}teacherName#{section.sec_num}'> #{section.teacher} </p>
				td <input type = 'text', value = "#{section.time}", id = '#{section.course_id}label#{section.sec_num}', name = "section" hidden/> <input type = 'submit', value = 'Update', id = '#{section.course_id}update#{section.sec_num}', onclick = 'update("#{section.course_id}", "#{section.sec_num}")' hidden/> <input type = 'submit', value = 'Cancel', id = '#{section.course_id}cancel#{section.sec_num}', onclick = 'cancel("#{section.course_id}", "#{section.sec_num}")' hidden/>
					<h5 id ='#{section.course_id}text#{section.sec_num}'> #{section.time} </h5> <button type = 'button' id ='#{section.course_id}edit#{section.sec_num}'  onclick='edit("#{section.course_id}", "#{section.sec_num}")' hidden> Edit </button> <h6 id ='#{section.course_id}error#{section.sec_num}' hidden> Error </h6>
				td <p id='#{section.course_id}num#{section.sec_num}'> #{section.numStud} </p>
				if section.sec_num == 1
					td 
						<p id='#{section.course_id}conflict1' style='color:red'> #{section.numConflicts} </p>
				else
					td
						<p> </p>
	</div>
</div>






