<!DOCTYPE html>
html
	head
		title= 'Student Schedule'
		style
			include index.css
	body
		script
			include index.js
		h1= 'Student Name'


		h3= 'Schedule'
		table
			tr
				th= 'Course_Num'
				th= 'Course'
				th= 'Teacher'
				th= 'Time'
			for s in schedule
				tr
					td= s.course_num
					td= s.course
					td= s.teacher
					td= s.time

		h3= 'Requests'
		table
			tr
				th='Course_Num'
				th= 'Course'
			for r in requests
				tr
					td= r.id
					td= r.name
