<!DOCTYPE html>
html
	head
		title= 'Student Schedule'
		style
			include index.css
	body
		script
			include index.js
		h1= name

		h3= 'Schedule'
		table
			tr
				th= 'Course_Num'
				th= 'Course'
				th= 'Teacher'
				th= 'Time'
			for s in schedule
				tr
					td= s.id
					td= s.name
					td= s.teacher_name
					td= s.time

		h3= 'Requests'
		table
			tr
				th='Course_Num'
				th= 'Course'
			for r in requests
				tr
					if r.conflict == true
						<td style='background-color: #B18EB1'> #{r.id}</td>
					else
						td= r.id
					if r.conflict == true
						<td style='background-color: #B18EB1'> #{r.name}</td>
					else
						td= r.name


