<!DOCTYPE html>
html
	head
		title= 'Students'
		style
			include index.css
	body
		script
			include index.js
		h1= "Students"
		table
			tr
				th= 'ID'
				th= 'Grade'
				th= 'First Name'
				th= 'Last Name'
			for s in stu
				tr
					td 
						a(href= '/students/'+s.id) #{s.id}
					td= s.grade
					td= s.first
					td= s.last
					
