<!DOCTYPE html>
html
	head
		title= 'Teachers'
		style
			include index.css
	body
		script
			include index.js
		h1= 'Teachers'

	table
		tr
			th= 'ID'
			th= 'First Name'
			th= 'Last Name'
			th= 'Department'
			for t in listOfTeachers
				tr
					td 
						a(href= '/teachers/'+t.id) #{t.id}
					td= t.fname
					td= t.lname
					td= t.dept
					

