<!DOCTYPE html>
html
	head
		title= 'Students'
		style
			include index.css
	body
		script
			include index.js
		h1= tea
		form(method= 'POST' action='')
			div.form-group
				label(for='name') Teacher:
				input#name.form-control(type='text', placeholder='Teacher' name='name')
			<button type="submit">Submit</button>

		table
			tr
				th= 'Name'
				th= 'Sec_Num'
				th= 'Time'
			for section in teacherSched
				tr
					td= section.name
					td= section.sec_num
					td= section.time


